.App {
  text-align: center;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width:100%;
  height:12%;
  background-color: rgb(221, 106, 160);
  top:0;
  left:0;
}

.header h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
